.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
}

.card {
  background-color: white;
  max-width: 30rem;
  margin: 1rem;
}

.control {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}
